force-app/main/default/flows/Rollup_Summary_To_Sum_of_Paid_Amount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_all_Paid_Amount1</name>
        <label>Add all Paid Amount1</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>TotalPaidAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_All_Paid_Amount.Paid_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_All_Paid_Amount</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Rollup Summary To Sum of Paid Amount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rollup Summary To Sum of Paid Amount</label>
    <loops>
        <name>Add_All_Paid_Amount</name>
        <label>Add All Paid Amount</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Paid_Amount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_all_Paid_Amount1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Paid_Amount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Paid_Amount</name>
        <label>Get Paid Amount</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_All_Paid_Amount</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Current_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Payment1__c</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Paid_Amount</name>
        <label>Update Paid Amount</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Paid_Amount__c</field>
            <value>
                <elementReference>TotalPaidAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Get_Paid_Amount</startElementReference>
    <status>Active</status>
    <variables>
        <name>TotalPaidAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
