force-app/main/default/flows/Update_used_Quantity_on_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Addition_of_Product_Quantity</name>
        <label>Addition of Product Quantity</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Total_Quantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_all_Product_Quantity.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_all_Product_Quantity</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update used Quantity on Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update used Quantity on Product</label>
    <loops>
        <name>Iterate_all_Product_Quantity</name>
        <label>Iterate all Product Quantity</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_all_Order_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Addition_of_Product_Quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Quantity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Order_Products</name>
        <label>Get all Order Products</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_all_Product_Quantity</targetReference>
        </connector>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quantity</name>
        <label>Update Quantity</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Used_Stock__c</field>
            <value>
                <elementReference>Total_Quantity</elementReference>
            </value>
        </inputAssignments>
        <object>Inventory__c</object>
    </recordUpdates>
    <startElementReference>Get_all_Order_Products</startElementReference>
    <status>Active</status>
    <variables>
        <name>Get_All_Product_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Total_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
