force-app/main/default/flows/Update_Current_Year_Revenue_Target.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Sum_of_current_year_revenue</name>
        <label>Sum of current year revenue.</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Total_Current_Year_Revenue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_all_Accounts.Paid_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_all_Accounts</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update Current Year Revenue Target {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Current Year Revenue Target</label>
    <loops>
        <name>Iterate_all_Accounts</name>
        <label>Iterate all Accounts</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_all_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_of_current_year_revenue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Target</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Accounts</name>
        <label>Get all Accounts</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_all_Accounts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Target</name>
        <label>Update Target</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Target_Reached__c</field>
            <value>
                <elementReference>Total_Current_Year_Revenue</elementReference>
            </value>
        </inputAssignments>
        <object>Revenue_Target__c</object>
    </recordUpdates>
    <startElementReference>Get_all_Accounts</startElementReference>
    <status>Active</status>
    <variables>
        <name>Total_Current_Year_Revenue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
