force-app/main/default/flows/Update_Outstanding_Amount_on_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Addition_of_Balance</name>
        <label>Addition of Balance</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Total_Balance</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Payment.Balance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Payment</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update Outstanding Amount on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Outstanding Amount on Account</label>
    <loops>
        <name>Iterate_Payment</name>
        <label>Iterate Payment</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_All_Payments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Addition_of_Balance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Outstanding_Amount_on_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Payments</name>
        <label>Get All Payments</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Payment</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <object>Payment1__c</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Outstanding_Amount_on_Account</name>
        <label>Update Outstanding Amount on Account</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Outstanding_Amount__c</field>
            <value>
                <elementReference>Total_Balance</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Get_All_Payments</startElementReference>
    <status>Active</status>
    <variables>
        <name>Total_Balance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
